<!-- PARTIAL FOR FOOTER -->
<footer>
    <div id='company-name'>
        SocioCall by Akshit
    </div>

    <div id='links'>
        <a href="/users/profile">Profile</a>
        <a href="/">Home</a>
    </div>

    <div id='contact-info'>
        CONTACT
        <div id='contact-details'>
            <div>
                akshit07032001@gmail.com
            </div>
            <div>
                9704590423
            </div>
        </div>
    </div>
</footer>